*, *::before, *::after {
    box-sizing: border-box;
}

p, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

.library {
    display: flex;
    flex-wrap: wrap;
}

.book-card {
    width: 200px;
    height: 250px;
    background-color: gray;
    padding: 15px;
}